/*************************Warranty Registration Page CSS****************************************/

.THIS .required{
    border-left: solid red;
}

.THIS .uiInput--input.has-error .input, .THIS .uiInput--default.has-error .input {
    border: 1px solid #a8b7c7;
    box-shadow: none !important;
}
.THIS.main-body {
    font-family: "Salesforce Sans", Arial, sans-serif;
}
.THIS .header {
    background: #1a315b;
    color: white;
    padding: 22px;
}
.THIS .notify{
  background: #c50e22;
}
.THIS .agco-red {
    color: #C00031 !important;
}
.THIS .fnt-weight-500 {
    font-size: large;
}

.THIS .pad-left-rgt8{
    padding-left: 8px;
    padding-right:8px;
}

.THIS .forceStyle .required {
    font-weight: normal !important;
}

.THIS .uiButton--default {
    font-weight: inherit;
    margin: none;
    box-shadow: none;
    text-shadow: none;
    position: relative;
    display: inline-block;
    border-radius: .25rem;
    font-size: .75rem;
    line-height: 1.875rem;
    text-decoration: none;
    -webkit-appearance: none;
    white-space: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    margin-left: 15px;
}
.THIS .uiButton--default .label {
    color: white;
}
.THIS .containerCSS {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
}
.THIS td>div {
    font-size: 0.8em;
    font-family: "Salesforce Sans", Arial, sans-serif;
}
.THIS th>div {
    font-size: small;
}
.THIS .output {
    cursor: initial!important;
    cursor: initial!important;
    font-color: Black;
    background: rgba(216, 221, 230, 0.33)!important
}
.THIS .clickable-text{
    color: #2d2ddd;
    text-decoration: underline;
    cursor: pointer;
}
.THIS .relative{
  position: relative;
  top: 50%;
  z-index: 1000;
}
@media screen and (min-width: 400px) {
    .THIS.containerCSS {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media screen and (min-width: 800px) {
    .THIS.containerCSS {
        padding-left: 5%;
        padding-right: 5%;
    }
}
.THIS .slds-button--brand {
    margin-right: 10px;
    color: white;
	/*background: #2070d0;
	border: 1px solid #195fb0;*/
	background-color: rgba(147, 0, 31, 1);
	border: rgba(165, 14, 43, 1);
}
.THIS .slds-button--brand:hover {
    background: rgba(147, 0, 31, 1);
    /*background: #195fb0;*/
}
.THIS .slds-button--brand:active {
    /*background: #195fb0;*/
    background-color: rgba(147, 0, 31, 1);
    border: 1px solid rgba(74, 102, 156, 0.84);
}
.THIS .slds-button--brand:focus {
    /*background: #195fb0;*/
    background-color: rgba(147, 0, 31, 1);
    border: 1px solid rgba(74, 102, 156, 0.84);
}
.THIS .slds-button_brand{
    color: white;
    background-color: rgba(147, 0, 31, 1);
    height:35px;
    width:70px;
    left: 352px;
}
/********************expand collapse css*******************/

.THIS .accordion {
    color: black;
    display: block;
    padding-bottom: 20px;
}
.THIS .accordion-body {
    background: white;
    color: black;
    font-size: 1.5em;
    display: block;
    padding: 17px 9px 17px 9px;
}
 .THIS .uiInput--textarea .textarea:active, .THIS .uiInput--textarea.textarea:active {
    outline: 0;
    border-color: lightgrey;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px #0070d2;
}
/*.THIS input[type=checkbox]:checked~.accordion-body {
    display: none;
}*/
.THIS .accordion>input {
    display: none;
}
.THIS .accordion-heading {
    padding: 17px;
    border-bottom: solid;
    border-bottom-width: 9px;
    border-bottom-color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-align: left;
    display: block;
    cursor: pointer;
    color: white;
    background: black;
    border-color: rgb(99, 101, 109);
    border-width: 2px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.THIS .open-accordion-color{
    border-top: solid;
    border-top-color: rgb(0, 65, 182);
    border-bottom: none;
}

.THIS .close-accordion-color{

}

/**********************This page css*******************************/

.THIS .form {
    background: white;
    box-shadow: #302e2e -3px 4px 25px;
    padding: 10px;
}
.THIS .form-heading {
    background: #f5f6fa;
    padding: 20px;
    color: #808694;
    border: solid 1px #bec0c2;
    font-size: 1rem;
}
.THIS .select-box-padder {
    padding: 10px !important;
}
.THIS .form-break {
    height: 1px;
    padding: 20px;
}
.THIS .tab-close {
    display: none;
}
.THIS .tab-open {
    display: block;
}

.THIS .spinner-container {
    position: relative;
    padding: 50px;
}
.THIS .field-error {
    color: red;
    padding: 5px;
    font-size: 14px;
}

/*************************slds override**************************/

.THIS .slds-form-element__label {
    margin-left: 1rem;
}
.THIS .slds-input {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: initial;
    font-color : Black;
    font-weight: inherit;
}
.THIS .uiLabel>span {
    font-size: initial !important;
}
.THIS .uiLabel>span:not(:first-child) {
    display: none;
}
.THIS .uiLabel {
    padding-bottom: 9px;
    display: inline-block;
}
.THIS .spinner-container {
    position: relative;
    padding: 50px;
}
.THIS .slds-spinner_container{
  position: fixed!important;
}
.THIS label>span {
    font-size: initial;
}
.THIS .slds-modal__container {
    outline: none;
}
.THIS .customLabel>span{
    font-size: initial!important;
}

.THIS .customLabel{
    padding-bottom: 9px;
    display: inline-block;
}

.THIS .uiInput--textarea.has-error .textarea {
    background-color: rgb(255, 255, 255);
    border-color: lightgrey;
    box-shadow: unset !important;;
    background-clip: padding-box;
    border-left: solid red; 
}
/***********************ui component override***************************/

.THIS .datePicker-openIcon {
    display: inline-block;
    float: right !important;
    margin-top: -30px !important;
}


/******************* table css ***************************/

.THIS .jobcode-container, .THIS .installed-part-container, .THIS .removed-part-container, .THIS .nonOEM-part-container {
    padding: 2rem;
    overflow-x: auto;
    max-width: 100%;
    border: solid 1px #e3e4e8;
}

.THIS .ThCSS {
    font: 14px/1.4 Georgia, Serif;
    background: #1a315b;
    color: white;
    text-align: left;
    padding: 6px;
    border: 1px solid #ccc;
}

.THIS .TdCSS {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
    font-family: "Salesforce Sans", Arial, sans-serif;
	font-size: initial;
    height: 40px;
}

.THIS .checkBoxCSS{
    height: 25px;
}

.THIS .BtnCSS{
    background: rgb(224, 229, 238) !important;
    border-color: rgba(0, 0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}

.THIS .modelErrorCSS{
    font-size: small;
    color: red;
    padding: 5px;
}

.THIS .errorCSS{
    border-color: #fd8693 !important;
    border-style: solid;
    border-width: 2px;
}

.THIS .siteforceThemeLayoutStarter .header {
    transition: background .5s ease !important;
    display: none !important;
}

.THIS .slds-section__title-action {
    display: flex;
    align-items: center;
    background: rgb(243, 242, 242);
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: currentColor;
    font-size: inherit;
    padding: 0 .5rem;
}

.THIS .slds-section__title-action:hover, .THIS .slds-section__title-action:focus, .THIS .slds-section__title-action:active {
    background: rgb(238, 241, 246);
    color: inherit;
}


.THIS .slds-modal__content{
         white-space : pre-line !important;

}