.THIS {
}

.THIS .slds-modal__container{
	width: 80% !important;
	max-width: 50% !important;
}

.THIS .blue {
    
    font-weight: 1000;
    color: blue;
}

.THIS .Center {
    
    align-items: "center";
   
}
.THIS .slds-section__title-action{
   background-color: #3c82bf!important;
}